@charset "UTF-8";

.info{
    width: 550px;
    height: 400px;
    margin-top: 20px;
}
.info>p{
    padding-bottom: 20px;
}
.info>p>span{
     color: #3ba8f0;
 }

#info_table th{
    text-align: right;
    line-height: 36px;
    width: 118px;
    padding-right: 30px;
    padding-bottom: 20px;
    color: #666666;
}
#info_table td{
    box-sizing: border-box;
    text-align: left;
    padding-bottom: 20px;
    position: relative;
    font-size: 14px;
 }
#info_table tr{
    position: relative;
}
#info_table th span{
     display:inline-block;
     color: red;
     margin-right: 5px;
 }
#info_table td input{
    width: 400px;
    height: 36px;
}
#info_table td span{
    margin-right: 8px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/radio_none.png") no-repeat;
}
#info_table td span:nth-of-type(1){
    background: url("../img/radio.png") no-repeat;
}
.select{
     width: 15px !important;
     height: 15px !important;
     background: url("../img/select.png")!important;
     position:absolute ;
     right: 0px;
     top: 10px;
    cursor: pointer;

}
.select a{
    color: transparent;
    text-decoration: none;
}
.select a:visited{

}
.option{
    position: absolute;
    top: 150px;
    right: 80px;
    width: 119px;
    height: 112px;
    border: 1px solid #cccccc;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
    z-index: 999 !important;
}
.option>li{
    width: 115px;
    height: 28px;
    line-height: 28px;
    padding-left: 4px;
    color: #666666;
}
.option>li:hover{
    color: #666666;
}
.option>li:nth-of-type(1){
    background: #cccccc;
}
